
@font-face {
    font-family: 'ZCOOL Addict Italic'; 
    src: url('站酷仓耳渔阳体-W01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 全局样式 */
body {
    font-family: 'ZCOOL Addict Italic', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 20px 0;
}

p {
    font-size: 1.2rem;
    opacity: 0.8;
}
