/* 引入站酷仓耳渔阳体 */
@font-face {
    font-family: 'ZCOOL Addict Italic';
    src: url('站酷仓耳渔阳体-W01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 全局样式 */
body {
    font-family: 'ZCOOL Addict Italic', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* 标题样式 */
h1 {
    font-family: 'Microsoft YaHei', sans-serif; /* 使用微软雅黑 */
    font-size: 3rem;
    font-weight: 600; /* 加粗 */
    margin: 20px 0;
}

/* 正文字体 */
p {
    font-family: 'ZCOOL Addict Italic', sans-serif;
    font-size: 1.2rem;
    opacity: 0.8;
}
